* {
    border: 2px solid red;
    font-family: "Roboto";
}

html {
    background: yellow;
}

body {
    background: grey;
    margin: 0;
    min-height: 100vh;
}

.column-flex {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.first,
.second,
.third,
.fourth {
    flex: 1;
}

.first > .top {
    display: flex;
    justify-content: space-between;
}

.top > .links {
    display: flex;
    gap: 8px;
}

.first > .bottom {
    display: flex;
}

.awesome, .placeholder {
    flex: 1;
}

.info {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.images {
    display: flex;
}

.image-container {
    text-align: center;
}

.image {
    height: 125px;
    width: 125px;
    width: 50%;
    margin: 0 auto;
}

.third {
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.signature {
    display: flex;
}

.item {
    flex: 1;
}

.fourth {
    padding: 30px;
}

.action {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
